body {
  background: #f5d9df;
  font-family: "Nunito", sans-serif;
}

/* NAVBAR */
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

/* HEADER */
#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

@media (max-width: 1250px) {
  #headingGroup h1 {
    font-size: 3rem;
  }
}

#headingGroup span {
  color: #ea1c2c;
}
