body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
  border-bottom: 3px solid black;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* @media (min-width: 700px) and (max-width: 800px) {
  h1 {
    color: purple;
  }
} */

/* @media (max-width: 500px) {
  h1 {
    color: red;
  }
}

@media (max-width: 1000px) {
  h1 {
    color: orange;
  }
} */

h1 {
  color: red;
}

@media (min-width: 500px) {
  h1 {
    color: orange;
  }
}

@media (min-width: 1000px) {
  h1 {
    color: yellow;
  }
}

@media (min-width: 1500px) {
  h1 {
    color: green;
  }
}

/* @media (orientation: landscape) {
  body {
    background-color: thistle;
  }
} */

@media (max-width: 650px) {
  h1 {
    font-size: 4em;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.5em;
  }
}
