section {
  width: 80%;
  height: 800px;
  /* background-image: url("https://images.unsplash.com/photo-1699462515552-1777d08f9b0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; */
  margin: 0 auto;
  background: no-repeat center/40%
      url("https://plus.unsplash.com/premium_photo-1698339161104-841f2fed237c?q=80&w=1951&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
    goldenrod;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}
