div {
  width: 100px;
  height: 100px;
  background-color: #3d405b;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}

.middle {
  background-color: #81b29a;
}

#static .middle {
  position: static;
  /* Properties below don't fork for position: static */
  top: 100px;
  left: 100px;
}

#relative .middle {
  position: relative;
  /* Properties below change relative position of the element (from it's initial position) */
  /* Top: 20px moves element 20px to the bottom */
  top: 20px;
  /* Left: 40px moves element 40px to the right */
  left: 40px;
}

#absolute {
  position: relative;
  /* This is ancestor of the pos:absolute element which will be positioned
  relatively to this container. Otherwise absolute element is positioned
  to the body */
}

#absolute .middle {
  position: absolute;
  /* Pos: Absolute removes element from the normal document flow so
  no space is create for the element in the page layout */
  top: 50px;
  left: 30px;
}
